

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 deva@company.com
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">Devasankar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/public/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/public/javascripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/public/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/public/javascripts/templatemo.js"></script>
    <script src="/public/javascripts/custom.js"></script>
</body>

</html>
</body>
</html>